<h2 mat-dialog-title>Assign {{ nameLabel }}</h2>

<mat-dialog-content style="display: flex; flex-direction: column; gap: 12px">
  <p>Please select which {{ nameLabel.toLowerCase() }} to assign</p>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>{{ nameLabel }} Name</mat-label>
    <input
      matInput
      [value]="data.selected?.menu_name || data.selected?.report_name"
      disabled
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Select Users</mat-label>
    <mat-select [formControl]="selectedUsers" multiple>
      <mat-option *ngFor="let user of data.users" [value]="user.usr_id_pk">
        {{ user.usr_first_name }} {{ user.usr_last_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="handleClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="handleAssign()">
    Assign
  </button>
</mat-dialog-actions>
